---
layout: default
---
<div class="l-wrapper">
  <h1><span class="main-headline">About Us</span></h1>
  <img src="assets/dcft-members.jpg">
  <p>Members are affiliated with organizations</p>
  <ol>
    <li>with women attendance that is 50% or higher</li>
    <li>who have a focus on technology</li>
    <li>have a primary focus in the mission statement about gender or women.</li>
  </ol>
  <p>DCFemTech also shares a list of resources for the DCFemTech community for those seeking places to learn specific skills (development, design, networking, etc.)</p>

  <h1><span class="main-headline">Our Members</span></h1>
  {% for member in site.members %}
    {% if member.categories.first != 'membersupport' %}
      <div class="member-lg-wrapper clearfix">
        <a href="{{ member.link }}">
          <img alt ="{{ member.title }}" src="{{ member.logo }}" class="member-logo-lg">
        </a>
        <div class="member-info">
          <h3>{{member.name}}</h3>
          <p>{{ member.description }}</p>
          <a href="{{member.link}}">Website</a>\\<a href="http://www.twitter.com/{{member.twitter}}">Twitter</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <h1><span class="main-headline">Supporting Members</span></h1>
  {% for member in site.members %}
    {% if member.categories.first == 'membersupport' %}
      <div class="member-lg-wrapper clearfix">
        <a href="{{ member.link }}">
          <img alt ="{{ member.title }}" src="{{ member.logo }}" class="member-logo-lg">
        </a>
        <div class="member-info">
          <h3>{{member.name}}</h3>
          <p>{{ member.description }}</p>
          <a href="{{member.link}}">Website</a>\\<a href="http://www.twitter.com/{{member.twitter}}">Twitter</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}

</div>