---
layout: default
---
<div class="l-wrapper">
  <h1><span class="main-headline">About Us</span></h1>
  <img src="assets/dcft-members.jpg">
  <p>Members are affiliated with organizations</p>
  <ol>
    <li>with women attendance that is 50% or higher</li>
    <li>who have a focus on technology</li>
    <li>have a primary focus in the mission statement about gender or women.</li>
  </ol>
  <p>DCFemTech also shares a list of resources for the DCFemTech community for those seeking places to learn specific skills (development, design, networking, etc.)</p>

  <div class="m-sponsors">
    <h2>Supporting Companies</h2>
    <ul>
      <li><a href="http://www.capitalone.com"><img src="/assets/sponsors/capitalone.svg"></a></li>
      <li><a href="http://www.siteworx.com/"><img src="/assets/sponsors/siteworx.svg"></a></li>
      <li><a href="http://wingatehughes.com/"><img src="/assets/sponsors/wingatehughes.svg"></a></li>
      <li><a href="http://www.github.com"><img src="/assets/sponsors/github.svg"></a></li>
      <li><a href="http://www.mapbox.com"><img src="/assets/sponsors/mapbox.svg"></a></li>
    </ul>
  </div>



  <h1><span class="main-headline" id="members">Our Members</span></h1>
  {% for member in site.members %}
    {% if member.categories.first != 'membersupport' %}
      <div class="member-lg-wrapper clearfix">
        <a href="{{ member.link }}">
          <img alt ="{{ member.title }}" src="{{ member.logo }}" class="member-logo-lg">
        </a>
        <div class="member-info">
          <h3>{{member.name}}</h3>
          <p>{{ member.description }}</p>
          {% if member.link %}
            <a href="{{member.link}}">Website</a>
          {% endif %}
          {% if member.twitter %}
            <a href="http://www.twitter.com/{{member.twitter}}">Twitter</a>
          {% endif %}
          {% if member.facebook %}
            <a href="{{member.facebook}}">Facebook</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <h1><span class="main-headline">Supporting Organizations</span></h1>
  {% for member in site.members %}
    {% if member.categories.first == 'membersupport' %}
      <div class="member-lg-wrapper clearfix">
        <a href="{{ member.link }}">
          <img alt ="{{ member.title }}" src="{{ member.logo }}" class="member-logo-lg">
        </a>
        <div class="member-info">
          <h3>{{member.name}}</h3>
          <p>{{ member.description }}</p>
          {% if member.link %}
            <a href="{{member.link}}">Website</a>
          {% endif %}
          {% if member.twitter %}
            <a href="http://www.twitter.com/{{member.twitter}}">Twitter</a>
          {% endif %}
          {% if member.facebook %}
            <a href="{{member.facebook}}">Facebook</a>
          {% endif %}        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>