---
layout: default
---
<section class="l-section">
  <div class="l-wrapper">
    <h1><span class="main-headline">Upcoming Events</span></h1>
  </div>

  <div class="l-wrapper-large">

    <div class="m-blocks">
      {% for event in site.events %}
        {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
        {% capture posttime %}{{event.eventDate | date: '%s'}}{% endcapture %}
        {% if posttime > nowunix %}
          <div class="m-blocks__block">
            <div class="m-blocks__wrapper">
              <h2>{{ event.title }}</h2>
              <p class="m-blocks__date">{{ event.datePretty }} | {{ event.location }} | {{ event.time }}</p>
              <p class="m-blocks__description">{{ event.description }}</p>
              {% assign link = '' %}
              {% if site.events.last.link != null %}
                {% assign link = site.events.last.link | prepend: site.baseurl %}
              {% else %}
                {% assign link = site.events.last.url | prepend: site.baseurl %}
              {% endif %}
              <a class="button" href="{{ link }}">Read more</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="l-wrapper">
    <h1><span class="main-headline">Past Events</span></h1>
  </div>

  <div class="l-wrapper-large">

    <div class="m-blocks">
      {% for event in site.events reversed %}
        {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
        {% capture posttime %}{{event.eventDate | date: '%s'}}{% endcapture %}
        {% if posttime < nowunix %}
          <div class="m-blocks__block">
            <div class="m-blocks__wrapper">
              <h2>{{ event.title }}</h2>
              <p class="m-blocks__date">{{ event.datePretty }} | {{ event.location }} | {{ event.time }}</p>
              <p class="m-blocks__description">{{ event.description }}</p>
              {% assign link = '' %}
              {% if event.link != null %}
                {% assign link = event.link | prepend: site.baseurl %}
              {% else %}
                {% assign link = event.url | prepend: site.baseurl %}
              {% endif %}
              <a class="button" href="{{ link }}">Read more</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</section>
