---
layout: default
---

{% include hero.html %}
<section class="l-section clearfix">
  <div class="l-wrapper">
    <h1><span class="main-headline">Empowering DC Women In Tech</span></h1>
    <p>DCFemTech is a coalition of women leaders aimed at amplifying women in tech organizations, sharing resources, and bringing leaders together to close the gender gap. Bimonthly meetings are inclusive and open to any women in tech leaders. <a href="/members">Members</a> are affiliated with organizations with women attendance that is 50% or higher; who have a focus on technology; and have a primary focus in the mission statement about gender or women.</p>
  </div>

  <div class="l-wrapper-large">
    <div class="m-blocks m-blocks--index">
      <div class="m-blocks__block">
        <div class="m-blocks__wrapper">
          <h2>{{ site.events[0].title }}</h2>
          <p class="date-location">{{ site.events[0].datePretty }} | {{ site.events[0].location }} | {{ site.events[0].time }}</p>
          <a class="button" href=".{{ site.events[0].url | prepend: site.baseurl }}">View event page</a>
        </div>
      </div>

      <div class="m-blocks__block">
        <div class="m-blocks__wrapper">
          <form class="email-subscribe">
            <label><h2>Stay Updated</h2></label>
            <p>Stay up to date with all of the latest DCFT events by subscribing to our newsletter below.</p>
            <input type="email" name="email" placeholder="email address">
            <button class="subscribe">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="l-wrapper">
    <h1><span class="main-headline">Our Members</span></h1>
    {% include members.html %}
  </div>

  <div class="l-wrapper">
  <h1><span class="main-headline">Latest Tweets</span></h1>
  <div class="tweet-wrapper">
    <a class="twitter-timeline" data-height="500" href="https://twitter.com/DCFemTech">Tweets by DCFemTech</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  </div>
</section>
