
<div class="members-wrapper">
  <a href="{{ member.link }}">
    <div class="logo">
    <img src="icons/wwc-square.jpg">
    </div>
    <h2>{{ member.name }}Women Who Code DC</h2>
  </a>
</div>

<div class="members-wrapper">
  <a href="{{ member.link }}">
    <div class="logo">
    <img src="icons/hearmecode-square.png">
    </div>
    <h2>{{ member.name }}Hear Me Code</h2>
  </a>
</div>

<div class="members-wrapper">
  <a href="{{ member.link }}">
    <div class="logo">
    <img src="icons/lesbianswhotech.png">
    </div>
    <h2>{{ member.name }}Hear Me Code</h2>
  </a>
</div>