{% for member in site.members %}
  
<div class="members-wrapper">
  <a href="{{ member.link }}">
    <div class="logo">
    <img src="{{ member.logo }}">
    </div>
    <h2>{{ member.name }}</h2>
  </a>
</div>
{% endfor %}

<!-- <div class="members-wrapper">
  <a href="{{ member.link }}">
    <div class="logo">
    <img src="icons/hearmecode-square.png">
    </div>
    <h2>{{ member.name }}Hear Me Code</h2>
  </a>
</div>

<div class="members-wrapper">
  <a href="{{ member.link }}">
    <div class="logo">
    <img src="icons/lesbianswhotech.png">
    </div>
    <h2>{{ member.name }}Hear Me Code</h2>
  </a>
</div> -->