// global form styling
input {
  display: block;
  font-family: $font-main;
  padding: 1em;
  width: 97.3%;
  margin: 1em 0;
  border: 1px solid $color-light-gray;
}

form {
  text-align: left;
}

label {
  font-family: $font-main;
  font-size: .8em;
}

button,
input[type="submit"],
.button {
  @include prefix(transition, background 200ms);
  background: $color-blue;
  border-radius: 0;
  border: none;
  color: $color-teal;
  cursor: pointer;
  display: block;
  font-size: .8em;
  letter-spacing: 1px;
  margin-bottom: 2em;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  &:hover {
    @include prefix(transition, background 200ms);
    color: $color-blue;
    background-color: $color-teal;
  }
}