// global form styling
input {
  border: 1px solid $color-light-gray;
  display: block;
  font-family: $font-main;
  margin: 1em 0;
  padding: 1em;
  width: calc(100% - 2em);
}

form {
  text-align: left;
}

label {
  font-family: $font-main;
  font-size: .8em;
}

button,
input[type="submit"],
.button {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 0 0 1rem;
  padding: 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
  min-width: 200px;

  &:hover {
    color: #fff;
    &:before {
      @include prefix(transition, all 200ms);
      bottom: 0;
      left: 0;
    }
  }

  &:after {
    content: '';
    background-color: $color-blue;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }

  &:before {
    @include prefix(transition, all 200ms);
    content: '';
    background-color: $color-yellow;
    width: 100%;
    height: 100%;
    bottom: -5px;
    left: -5px;
    position: absolute;
    z-index: -1;
  }
}

input[type="submit"] {
  width: 100%;
}

.p-form-half {
  float: left;
  width: 48%;
  &.right {
    float: right;
  }
}

.response {
  line-height: 1.4;
  margin-bottom: 1em;
}
