.l {
  &-wrapper-large,
  &-wrapper,
  &-wrapper-small {
    margin: 0 auto;
    max-width: $width-main;
    padding: 2rem 1rem;
    @media(max-width: $break-medium) {
      padding: 1rem;
    }
  }
  &-wrapper-large {
    max-width: $width-large;
  }
  &-wrapper-small {
    max-width: $width-small;
  }
  &-section {
    margin: 0 auto;
  }
  &-center{
    text-align: center;
  }

  &-double {
    @media(min-width: $break-medium) {
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
      >:first-child {
        flex-basis: 70%;
        flex-grow: 0;
        margin: 0;
      }
    }
  }
}

.clearfix {
  clear: both;
  overflow: auto;
  zoom: 1;
}

img {
  max-width: 100%;
}

.events a {
  img {
    max-height: 50px;
    height: 100%;
    margin: 10px;
  }
}
