.l {
  &-wrapper-large,
  &-wrapper {
    margin: 0 auto;
    max-width: $width-main;
    padding: 16px;
  }
  &-wrapper-large {
    max-width: $width-large;
  }
  &-section {
    max-width: 80%;
    margin: 0 auto;
  }
}

.clearfix {
  clear: both;
  overflow: auto;
  zoom: 1;
}