.l {
  &-wrapper-large,
  &-wrapper {
    margin: 0 auto;
    max-width: $width-main;
  }
  &-wrapper-large {
    max-width: $width-large;
  }
  &-section {
    margin: 0 auto;
  }
  &-center{
    text-align: center;
  }
  &-content {
    padding: 16px;
  }
}

.clearfix {
  clear: both;
  overflow: auto;
  zoom: 1;
}

img {
  max-width: 100%;
}

.events a {
  img {
    max-height: 50px;
    height: 100%;
    margin: 10px;
  }
}
