@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600,800,300italic);

body {
  color: $color-body;
  font-family: 'Open Sans', Helvetica, san-serif;
  font-size: 17px;
  font-weight: 400;
  @media(max-width: $break-medium) {
    font-size: 16px;
  }
  @media(max-width: $break-small) {
    font-size: 15px;
  }
}

p {
  line-height: 1.8;
  margin: 1rem 0;
}

a {
  @include prefix(transition, color 100ms);
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $color-link;
  &:hover {
    @include prefix(transition, color 100ms);
    color: $color-link-hover;
    img {
      opacity: .6;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  margin: 0 0 1rem;
  line-height: 1.1;
  a {
    color: inherit;
    font-weight: inherit;
    border: 0;
    &:hover {
      color: $color-teal;
    }
  }
}

h1 {
  color: $color-blue;
  font-size: 3rem;
  text-align: center;
  @media(max-width: $break-medium) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
}

li {
  line-height: 1.8;
  list-style: initial;
}

.main-intro {
  font-size: 1.25rem;
}

.main-headline {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  &:after {
    content: '';
    height: .3em;
    position: absolute;
    width: 100%;
    background-color: $color-teal;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.visually-hidden {
  display: inline-block;
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}
