// Type
$font-main: 'Open Sans', Helvetica, san-serif;

// Colors
$color-body: #3b3b3b;

$color-teal: #8ed2d4;
$color-blue: #2A4056;

// Layout
$width-main: 900px;
$width-large: 1200px;


// Break
$break-large: 900px;
$break-medium: 600px;
$break-small: 400px;
