// Type
$font-main: 'Open Sans', Helvetica, san-serif;

// Colors
$color-body: #3b3b3b;

$color-teal: #8ed2d4;
$color-blue: #2A4056;
$color-pink: #EB3450;
$color-yellow: #FFB62C;

$color-link: $color-pink;
$color-link-hover: darken($color-link, 10%);

$color-light-gray: #cacaca;

// Layout
$width-main: 1000px;
$width-small: 800px;
$width-large: 1400px;


// Break
$break-large: 900px;
$break-medium: 600px;
$break-small: 400px;
