// Type
$font-main: 'Open Sans', Helvetica, san-serif;

// Colors
$color-body: #333;

$color-teal: #8ed2d4;
$color-blue: #2A4056;
$color-gold: #fcb514;
$color-pink: #ea304b;

// Layout
$width-main: 900px;
$width-large: 1200px;


// Break
$break-large: 900px;
$break-medium: 600px;
$break-small: 400px;