@mixin circle ($top, $right, $bottom, $left, $color, $size: 70px, $type: double) {
  border-radius: 50%;
  bottom: $bottom;
  height: $size;
  left: $left;
  position: absolute;
  right: $right;
  top: $top;
  width: $size;

  @if $type == 'full' {
    background-color: $color;
  } @elseif $type == 'stroke' {
    border: 2px solid $color;
  } @elseif $type == 'double' {
    border: 2px solid $color;
    &::before {
      border: 2px solid $color;
      border-radius: 50%;
      content: '';
      height: $size - 10px;
      left: 2.5px;
      position: absolute;
      top: 2.5px;
      width: $size - 10px;
    }
  }
}
