.m-award-winners {
  ul {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
  }
  img {
    width: 100%;
  }
  li {
    @include flex-basis(17%);
    padding: 1em 1em 0;
    list-style: none;
    @media(max-width: $break-medium) {
      @include flex-basis(25%);
    }
    @media(max-width: $break-small) {
      @include flex-basis(40%);
    }
    p {
      line-height: 1.2;
      margin: .2em 0;
      word-break: break-word;
    }
  }
  h3 {
    hyphens: auto;
    margin: 0;
    word-break: break-word;
    @media(max-width: $break-medium) {
      font-size: 1em;
    }
  }
}
