.m-blocks {
  &--index {
    margin-top: 1em;
  }
  @media(min-width: $break-medium) {
    @include flexbox;
    @include align-items(stretch);
    @include justify-content(space-between);
    text-align: center;

    &__block {
      @include align-items(center);
      @include flex-basis(49%);
      @include flexbox;
    }
  }

  h2 {
    color: $color-blue;
    font-weight: 800;
    margin-bottom: 0;
  }

  p {
    margin: 1em 0;
  }

  &__block {
    background-color: lighten($color-teal, 25%);
    border: 1px solid lighten($color-teal, 22%);
    margin-bottom: .5em;
  }

  &__wrapper {
    margin: 0 auto;
    width: 80%;
  }

}