.m-footer {
  background-color: $color-teal;

  .social-media-list {
    list-style: none;
    text-align: center;
    .social-media-list-item {
      display: inline-block;
      text-align: center;

      a {
        color: $color-blue;
        padding: 2em;
      }//a 
    }//.social-media-list-item 
  }//.social-media-list
}//.m-footer 