.m-footer {
  background-color: $color-teal;
  &__social {
    list-style: none;
    text-align: center;
    &-item {
      display: inline-block;
    }
  }

  a {
    color: $color-blue;
    padding: 0 2em;
    &:hover {
      color: $color-pink;
    }
  }
}