.m-hero {
  background: $color-blue;
  padding: 80px 50px 100px;
  position: relative;
  &__logo {
    margin: 0 auto;
    max-width: 800px;
  }
  &__circles {
    span:nth-child(1) {
      @include circle(145px, auto, auto, -25px, $color-gold);
    }
    span:nth-child(2) {
      @include circle(auto, 10px, 20px, auto, $color-gold);
    }
    span:nth-child(3) {
      @include circle(0px, 130px, auto, auto, $color-pink, 90px);
    }
    span:nth-child(4) {
      @include circle(50px, 100px, auto, auto, #fff, 10px, full);
    }
    span:nth-child(5) {
      @include circle(100px, auto, auto, 200px, #fff, 10px, full);
    }
  }
}