.m-hero {
  background-image: url('../assets/cover.jpg');
  background-position: center center;
  background-size: cover;
  padding: 100px 50px 120px;
  position: relative;
  background-repeat: no-repeat;
  &__logo {
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    z-index: 1;
  }
}
