.m-header {
  background-color: $color-blue;
  border-top: 5px solid $color-teal;
  color: #fff;
  font-size: .8em;
  position: relative;
  z-index: 1;
  .l-wrapper-large {
    @media(min-width: $break-medium) {
      @include flexbox;
      @include flex-wrap(wrap);
      @include justify-content(space-between);
    }
    padding: 8px 16px;
  }
  a {
    color: currentColor;
    letter-spacing: .03em;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    &:hover {
      color: $color-teal;
    }
  }
  &__logo {
    @include flex-grow(1);
    @include flex-shrink(0);
    display: block;
    margin: 0 auto;
    max-width: 200px;
    .home & {
      @media(min-width: $break-medium) {
        display: none;
      }
    }
  }

  &__links {
    @include align-self(center);
    @include flex-grow(1);
    display: block;
    text-align: right;
    font-weight: 600;
    li {
      display: inline-block;
      padding: 5px;
    }
    @media(max-width: $break-medium) {
      margin-top: 10px;
      text-align: center;
    }
  }
}
