.m-hero {
  background-image: url('../assets/cover.jpg');
  background-position: center center;
  background-size: cover;
  padding: 100px 0 0;
  position: relative;
  background-repeat: no-repeat;
  margin-bottom: 1rem;

  @media(min-width: $break-medium) {
    margin-bottom: 3rem;
  }
  &:after {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: $color-blue;
    opacity: .8;
    z-index: 0;
  }
  * {
    position: relative;
    z-index: 1;
  }
  h1 {
    font-size: 4em;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    @media(max-width: $break-medium) {
      font-size: 2em;
    }
  }
  &__logo {
    max-width: 400px;
    margin-left: -130px;
    margin-bottom: -30px;
    @media(max-width: $break-medium) {
      display: none;
    }
  }
  &__stem {
    position: absolute;
    top: 0;
    bottom: 0px;
    height: 100%;
    right: 5%;
  }
}
