.m-members {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-around);
  @include flex-wrap(wrap);
  list-style: none;
  li {
    @include flex-basis(100px);
    @include prefix(transition, opacity 100ms);
    list-style: none;
    margin: 1.5rem 1.5rem 0;
    &:hover {
      @include prefix(transition, opacity 100ms);
      opacity: .8;
    }
  }
  a {
    display: block;
    border: 0;
  }

  &__callout {
    text-align: center;
    max-width: 600px;
    font-size: .9rem;
    margin: 2rem auto;
    border: 1px solid lighten($color-teal, 22%);
    background-color: lighten($color-teal, 25%);
    padding: 1rem;
    img {
      max-width: 300px;
    }
  }
}

// for member list on about page
.member-lg-wrapper {
    margin: 2rem 0;
    padding: 1rem 0;
  .member-logo-lg {
    width: 10%;
    float: left;
  }
  h3 {
    margin:0;
  }
  .member-info {
    width: 80%;
    float: left;
    padding-left: 10%;
  }
}
