.m-members {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  li {
    flex-basis: 30%;
    &:hover {
      opacity: .8;
    }
  }
  a {
    display: block;
  }

  img {
    width: 100%;
  }
}
