.m-members {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
  list-style: none;
  li {
    @include flex-basis(30%);
    &:hover {
      opacity: .8;
    }
  }
  a {
    display: block;
  }

  img {
    width: 100%;
  }
}
