.m-sponsors {
  ul {
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    padding: 20px 0;
  }
  li {
    flex-basis: 20%;
    list-style: none;
    flex-grow: 0;
    margin: 0 2%;
    img {
      max-width: 250px;
      margin-bottom: 10px;
    }
    @media(max-width: $width-small) {
      flex-basis: 45%;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
  a {
    border: 0;
  }
  img {
    width: 100%;
  }
}
